@import 'swiper/swiper-bundle.css';

.offer-slider {
  $this: &;

  $padding-x: (
    'mob': 16px,
    'lg': 80px,
  );
  @include _(
    (
      overflow: hidden,
      padding-left: $padding-x,
      padding-right: $padding-x,
    )
  );

  @include bem(
    'wrap',
    (
      width: (
        'mob': 255px,
        'lg': 100%,
      ),
    )
  );

  @include bem(
    'swiper-container',
    (
      overflow: visible,
    )
  );

  @include bem('swiper-wrapper', ());
}
