.form-item {
  $this: &;

  @include _(());

  @include bem(
    'title',
    (
      font-weight: 500,
      font-size: (
        'mob': 20px,
        'lg': 24px,
      ),
      line-height: (
        'mob': 20px,
        'lg': 24px,
      ),
    )
  );

  @include bem(
    'list',
    (
      '@extend': '%list-reset',
      display: flex,
      flex-direction: column,
      gap: (
        'mob': 21px,
        'lg': 24px,
      ),
      margin-top: (
        'mob': 33px,
        'lg': 48px,
      ),
    )
  );

  @include bem(
    'input',
    (
      max-width: 544px,
    )
  );
}
