.burger {
  $this: &;

  @include _(
    (
      '@extend': '%btn-reset',
      'width': (
        'mob': 20px,
        'xs': 36px,
      ),
      gap: (
        'mob': 4px,
      ),
      display: flex,
      flex-direction: column,
      position: relative,
      z-index: 120,
      '&:after': (
        content: '',
        '@extend': '%abs-center',
        '@wh': 150%,
      ),
      '&:hover #{$this}__line': (
        background-color: $primary,
      ),
      '&:hover #{$this}__line:first-child': (
        transform: translateY(-1px),
      ),
      '&:hover #{$this}__line:last-child': (
        transform: translateY(1px),
      ),
      '&:focus': (
        outline: none,
      ),
    )
  );

  @include bem(
    'line',
    (
      '@transition': (
        background-color,
        opacity,
        transform,
        width,
      ),
      background-color: $dark,
      display: block,
      width: 100%,
      height: (
        'mob': 2px,
        'xs': 3.65px,
      ),
    )
  );

  &--active {
    #{$this}__line {
      background-color: $dark !important;

      &:nth-child(1) {
        transform: rotate(-135deg) translate(-20%, -20%) !important;
      }

      &:nth-child(2) {
        transform: rotate(135deg) translate(-20%, 20%) !important;
      }
    }
  }
}
