.nav {
  $this: &;

  @include _(
    (
      border-bottom: (
        'mob': 1px solid $grey-2,
        'lg': none,
      ),
      border-right: (
        'lg': 1px solid $grey-2,
      ),
      grid-area: (
        'lg': nav,
      ),
      padding-top: (
        'mob': 7px,
        'lg': 108px,
      ),
      padding-bottom: (
        'mob': 8px,
        'lg': 108px,
      ),
    )
  );

  @include bem(
    'list',
    (
      '@extend': '%list-reset',
      display: flex,
      flex-direction: (
        'lg': column,
      ),
      gap: (
        'mob': 16px,
        'lg': 6px,
      ),
    )
  );

  @include bem(
    'item',
    (
      '&--exit': (
        margin-left: (
          'mob': auto,
          'lg': 0,
        ),
      ),
    )
  );

  @include bem(
    'item-link',
    (
      '@extend': '%link-dark',
      text-transform: uppercase,
      font-weight: 500,
      font-size: 14px,
      line-height: 24px,
      letter-spacing: 0.04em,
      '&--active': (
        color: $primary !important,
      ),
    )
  );
}
