.footer-soc {
  $this: &;

  @include _(
    (
      '@extend': '%list-reset',
      display: flex,
      gap: 8px,
    )
  );

  @include bem(
    'item-link',
    (
      '@circle': 32px,
      border: 1px solid rgba($white, 0.16),
      background-color: rgba($white, 0.08),
      display: flex,
      align-items: center,
      justify-content: center,
      transition: border $trs,
      backdrop-filter: blur(24px),
      '&:hover': (
        border: 1px solid $primary,
      ),
    )
  );

  @include bem(
    'item-icon',
    (
      '@wh': 15px,
    )
  );
}
