extends /components/layout/layout
include /components/sections/FormSection/FormSection
include /components/sections/OfferSection/OfferSection

block content
  +FormSection(DATA.formSection)
  +OfferSection(DATA.offerSection)
