.offer-section {
  $this: &;

  @include _(
    (
      padding-top: (
        'mob': 63px,
        'lg': 113px,
      ),
      padding-bottom: (
        'mob': 63px,
        'lg': 124px,
      ),
      grid-area: (
        'lg': offer,
      ),
      border-top: (
        'lg': 1px solid $grey-3,
      ),
      display: (
        'lg': grid,
      ),
      grid-template-areas: (
        'lg': 'title link' 'slider slider',
      ),
    )
  );

  @include bem(
    'wrap-title',
    (
      grid-area: (
        'lg': title,
      ),
    )
  );

  @include bem(
    'title',
    (
      font-weight: 500,
      font-size: (
        'mob': 28px,
        'lg': 48px,
      ),
      line-height: (
        'mob': 32px,
        'lg': 56px,
      ),
      text-transform: uppercase,
      '& span:first-child': (
        color: $primary,
      ),
    )
  );

  @include bem(
    'slider',
    (
      margin-top: (
        'mob': 32px,
        'lg': 50px,
      ),
      width: 100%,
      grid-area: (
        'lg': slider,
      ),
    )
  );

  @include bem(
    'wrap-link',
    (
      margin-top: (
        'mob': 32px,
        'lg': 0,
      ),
      grid-area: (
        'lg': link,
      ),
      padding-left: (
        'lg': 0,
      ),
      display: (
        'lg': flex,
      ),
      justify-content: (
        'lg': flex-end,
      ),
    )
  );

  @include bem(
    'in-link',
    (
      '@extend': '%link-dark',
      display: flex,
      align-items: center,
      gap: 9px,
      color: $dark,
      font-weight: 500,
      font-size: 16px,
      line-height: 24px,
      '&:hover svg *': (
        stroke: $primary,
      ),
    )
  );

  @include bem(
    'in-link-icon',
    (
      '@wh': 16px,
    )
  );
}
