.offer-card {
  $this: &;

  @include _(
    (
      position: relative,
      overflow: hidden,
      border-radius: 8px,
      background-color: $grey,
      height: 403px,
      border: 1px solid rgba($dark, 0),
      transition: border $trs,
      display: flex,
      flex-direction: column,
      '&:hover': (
        border: 1px solid rgba($dark, 1),
      ),
    )
  );

  @include bem(
    'link',
    (
      '@extend': '%spread',
    )
  );

  @include bem(
    'like',
    (
      '@extend': '%btn-reset',
      '@wh': (
        'mob': (
          21px,
          18px,
        ),
      ),
      position: absolute,
      top: (
        'mob': 20px,
        'lg': 26px,
      ),
      right: (
        'mob': 16px,
        'lg': 24px,
      ),
      '& svg *': (
        transition: fill $trs,
      ),
      '&:hover svg *': (
        fill: $grey-text,
      ),
      '&--active svg *': (
        fill: $primary,
      ),
    )
  );

  @include bem(
    'chip',
    (
      background-color: $danger,
      color: $white,
      display: flex,
      align-items: center,
      justify-content: center,
      width: max-content,
      padding: (
        'mob': 4px 12px 6px,
      ),
      border-radius: 100px,
      font-weight: normal,
      font-size: 14px,
      line-height: 18px,
      position: absolute,
      top: (
        'mob': 16px,
        'lg': 21px,
      ),
      left: (
        'mob': 16px,
        'lg': 24px,
      ),
    )
  );

  @include bem(
    'pic',
    (
      width: auto,
      margin: 0 auto,
      height: (
        'mob': 255px,
        'lg': 253px,
      ),
    )
  );

  @include bem(
    'line',
    (
      margin: 0,
      height: 12px !important,
      background-color: $secondary,
      opacity: 1,
      flex-shrink: 0,
    )
  );

  @include bem(
    'data',
    (
      padding: (
        'mob': 16px,
        'lg': 24px,
      ),
    )
  );

  @include bem(
    'title',
    (
      font-family: $font-second,
      font-style: italic,
      font-weight: 500,
      font-size: 18px,
      line-height: 18px,
    )
  );

  @include bem(
    'desc',
    (
      margin-top: 8px,
      font-weight: normal,
      font-size: 14px,
      line-height: 18px,
    )
  );

  @include bem(
    'volume',
    (
      margin-top: 8px,
      font-weight: normal,
      font-size: 14px,
      line-height: 18px,
    )
  );

  @include bem(
    'wrap-price',
    (
      display: flex,
      gap: (
        'mob': 9px,
        'lg': 15px,
      ),
      margin-top: 16px,
    )
  );

  @include bem(
    'price',
    (
      font-family: $font-second,
      font-style: italic,
      font-weight: 500,
      font-size: 18px,
      line-height: 18px,
      '&--old': (
        color: $grey-text,
        text-decoration: line-through,
      ),
    )
  );
}
