.modal {
  $this: &;

  background-color: $white;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transform: translateY(-100%);
  transition: transform $trs;
  color: $dark;

  &--active {
    transform: translateY(0);
  }

  @include bem(
    'container',
    (
      overflow-y: scroll,
      min-height: 100%,
      display: (
        'lg': flex,
      ),
      flex-direction: (
        'lg': column,
      ),
      justify-content: (
        'lg': center,
      ),
    )
  );
}
