#app.app {
  @include _(
    (
      min-height: 100vh,
      display: (
        'lg': grid,
      ),
      grid-template-areas: (
        'lg': 'header header' 'nav form' 'offer offer' 'footer footer',
      ),
      grid-template-columns: (
        'lg': 0.27fr 1fr,
      ),
      '&--no-scroll': (
        overflow: hidden,
      ),
    )
  );
}
