.header {
  $this: &;
  grid-area: header;

  @include _(
    (
      border-bottom: 1px solid $grey-2,
    )
  );

  @include bem(
    'container',
    (
      padding: (
        'mob': 24px 22px 26px,
        'lg': 20px 37px,
      ),
      display: flex,
      align-items: center,
    )
  );

  @include bem(
    'logo',
    (
      '@wh': (
        80px,
        14px,
      ),
    )
  );

  @include bem(
    'burger',
    (
      margin-left: (
        'mob': 32px,
        'lg': 48px,
      ),
    )
  );

  @include bem(
    'btn-group',
    (
      margin-left: auto,
    )
  );

  @include bem(
    'nav',
    (
      display: (
        'mob': none,
        'lg': flex,
      ),
      align-items: center,
      margin-left: (
        'lg': 112px,
      ),
    )
  );

  @include bem(
    'list',
    (
      '@extend': '%list-reset',
      display: flex,
      align-items: center,
      gap: 18px,
      line-height: 0,
    )
  );

  @include bem(
    'item-link',
    (
      '@extend': '%link-reset',
      display: flex,
      align-items: center,
      gap: 2px,
      text-transform: uppercase,
      font-weight: normal,
      font-size: 14px,
      line-height: 24px,
      letter-spacing: 0.04em,
      '@transition': color,
      '&:hover': (
        color: $primary,
      ),
      '&:hover #{$this}__item-icon *': (
        stroke: $primary,
      ),
    )
  );

  &__item-link {
    transition: color $trs;

    * {
      transition: stroke $trs;
    }
  }

  @include bem(
    'item-icon',
    (
      '@wh': 16px,
      '@transition': stroke,
    )
  );
}
